@reference "../../../../../packages/theme/global.css";

.authBox {
  @apply flex flex-col w-dvw h-dvh p-4 lg:p-10 rounded-xl bg-background shadow-md;

  .contentBox {
    @apply flex flex-row lg:max-w-3/4 m-auto transition-all duration-300  bg-white;
    .slogan {
      @apply text-center bg-primary hidden lg:block space-y-10;
      border-radius: 6%;
      .loginBG {
        width: 100%;
        height: auto;
        object-fit: cover;
        border-radius: 8%;
      }
      .sloganText {
        @apply text-2xl font-family-friendly;
      }
    }
    .loginForm {
      @apply flex flex-1 flex-col justify-center box-border p-6 lg:p-16 shadow-md;
      .welcomeText {
        @apply text-2xl mb-5 text-center;
      }
      .baseForm {
        @apply w-full lg:min-w-[24vw] lg:mb-2;
      }
    }
  }
}
